html{
	font-family: verdana, arial, genova;
}
body{
	margin: 0;
	background-color: #efefef;
}
header{
	background-color: #364552;
	color: white;
	padding: 3rem 2rem;
}
header h1{
	text-align: center;
	font-size: 4rem;
}
.container{
	width: 400px;
	margin: 0 auto;
}
section article{
	transition: box-shadow 0.3s ease;
	background-color: #fff;
	margin: 1rem 0;
	border-radius: 0.5rem;
	padding: 0.25rem 0rem;
}
section article:hover{
	box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
	cursor: pointer;
}
section article h2, section article p{
	margin: 1rem;
}
footer{
	background-color: #222 ;
	padding: 3rem;
	color: #fff;
}
footer section{
	float: right;
}
footer p{
	margin: 0;
}

footer a{
	transition: color 0.3s ease;
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color: cornflowerblue;
}