*{
	font-family: cursive;
	font-weight: 100;
	font-size: 20px;
	margin: 0; 
	box-sizing: border-box;
}
.caja1{
	height: 200px;
	width: 200px;
	background-color: slateblue;
	transition: all 1s;
	border: 3px solid red;
}
.caja1:hover{
	background-color: darkslateblue;
	height: 300px;
	width: 300px;
	border: 3px solid blue;
}
.caja1:active{
	background-color: black;
	height: 300px;
	width: 300px;
	border: 3px solid white;
	color: white;
}
input{
	margin: 25px;
	background-color: lightgrey;
	transition: all 1s;
}
input:focus{
	background-color: white;
	padding: 20px;
}
.caja2{
	margin: 25px;
}
.caja2 b:lang(en){
	background-color: white;
	padding: 20px;
}