*{
	font-family: cursive;
	font-weight: 100;
	font-size: 30px;
	margin: 0; 
	box-sizing: border-box;
}

h2{
	background-color: red;
	display: inline-block;
	padding: 100px;
	margin: 10px;
	border-radius: 2em;
	border: 4px solid gray
}
h2{
	box-shadow: 2px 4px 15px 4px #565665;
}
.caja1 {
	width: 120px;
	height: 120px;
	display: block;
	background-color: yellow;
	position: relative;
	top: 50px;
	left: 30px;
	z-index: 1;

}
.caja2 {
	width: 120px;
	height: 120px;
	display: block;
	background-color: blue;
	position: relative;
}